# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Extracted datafile
activity.csv

# Temporary files
PA1_template_files/